* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-image: url(./img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    color: #ffffff;
}

.main {
    margin: 0 auto;
    max-width: 360px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    background: rgba(217, 217, 217, 0.101);
    border: 3px solid rgba(255, 255, 255, 0.202);
    backdrop-filter: blur(22.9783px);
    border-radius: 14px;
}

.logo {
    max-width: 80px;
    margin-top: -40px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 25px;
}
/*  */
.title {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 15px;
    
}
.sub-title {
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #DAD9D9;
}

.description {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 30px;
    color: #DAD9D9;
    text-align: center;
    max-width: 280px;
}

.social-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 290px;
    gap: 15px;
    margin-bottom: 50px;
}
.social-list__item {
    width: 100%;
    background-color: #1B1B1B;
    width: 100%;
    padding: 20px 15px;
    border-radius: 10px;
    border: 2px solid #000000;

}
.social-list__link {
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
    width: 100%;
    height: 100%;
}
.social-list__link p {
    width: 100%;
    text-align: center;
}